<!doctype html>
<html lang="en" ng-app="pimoteApp">
<head>
	<meta charset="UTF-8">
	<title>PiMote</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet/less" type="text/css" href="static/styles/pimote.less" />
	<!--<link rel="stylesheet" href="static/styles/pimote.css">-->
</head>
<body>
	<div class="wrapper active">
		<div class="sidebar-wrapper active" ng-controller="SidenavController">
			<!--<div class="sidebar">
				<div class="container" id="bottomNav">
					<div class="col-xs-3 text-center"><a href="#"><i class="fa fa-home"></i><br>Home</a></div>
					<div class="col-xs-3 text-center"><a href="#"><i class="fa fa-th"></i><br>Remote</a></div>
					<div class="col-xs-3 text-center"><a href="#"><i class="fa fa-list-alt"></i><br>Channels</a></div>
					<div class="col-xs-3 text-center"><a href="#"><i class="fa fa-cog"></i><br>Settings</a></div>
				</div>
			</div>-->
			<ul class="sidebar-header">
				<li class="sidebar-brand">
					<a href="#" class="menu-toggle" ng-click="toggleMenu()">
						Menu
						<span id="header-icon" class="fa fa-align-justify"></span>
					</a>
				</li>
			</ul>
			<ul class="sidebar-nav">
				<li>
					<a href="#">
						Home
						<span class="sidebar-icon fa fa-home"></span>
					</a>
				</li>
				<li>
					<a href="#">
						Remote
						<span class="sidebar-icon fa fa-th"></span>
					</a>
				</li>
				<li>
					<a href="#">
						Channels
						<span class="sidebar-icon fa fa-list-alt"></span>
					</a>
				</li>
				<li>
					<a href="#">
						Settings
						<span class="sidebar-icon fa fa-cog"></span>
					</a>
				</li>
			</ul>
		</div>
		<div class="page-content-wrapper">
			<div class="container-fluid">
				<div ng-controller="ChannelController" class="schedule-wrapper">
					<!--<ul class="schedule-channels">
						<li ng-repeat="channel in Channels" class="schedule-channel">
							{{ channel.name }}
							<ul class="schedule-shows">
								<li ng-repeat="show in channel.shows" class="schedule-show">
									<h4>{{ show.title }}</h4>
									<span show></span
								</li>
							</ul>
						</li>
					</ul>-->
					<table class="schedule">
						<thead>
							<th class="schedule-channelname">Channel</th>
							<!--<th ng-repeat="" class="schedule-hour">{{  }}</th>-->
						</thead>
						<tbody>
							<tr ng-repeat="channel in Channels">
								<td>
									{{ channel.name }}
								</td>
								<td colspan="6">
									<div class="schedule-channel">
										<div ng-repeat="show in channel.shows | nowFilter" class="schedule-show">
											<div show></div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.6.3/less.min.js"></script>
	<script>
		var app = angular.module('pimoteApp', []);

		app.controller('ChannelController', function($scope, $http){
			$http.get('/api/channel/').success(function(data){
				$scope.Channels = data.channels
			})

		}).directive('show', function(){
			return {
				template: "<span>{{ show.startTime | date: 'HH:mm a' }}</span> - <span>{{ show.title }}</span"
			}
		}).filter('nowFilter', function(){
      return function(input){
        var filterList = []
        angular.forEach(input, function(show, i, shows){
          if(new Date(show.startTime).getTime() > Date.now()){
            filterList.push(show)
          }
        })
        return filterList
      }
    })

		app.controller('SidenavController', function($scope){
			$scope.toggleMenu = function(){
				$('.sidebar-wrapper').add('.wrapper').toggleClass('active')
			}
		})

	</script>
</body>
</html>
