<!doctype html>
<html lang="en" ng-app="pimoteApp">
<head>
	<meta charset="UTF-8">
	<title>PiMote</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet/less" type="text/css" href="static/styles/pimote.less" />
</head>
<body>
	<div class="wrapper active">
		<div class="sidebar-wrapper active" ng-controller="SidenavController">
			<ul class="sidebar-header">
				<li class="sidebar-brand">
					<a href="#" class="menu-toggle" ng-click="toggleMenu()">
						Menu
						<span id="header-icon" class="fa fa-align-justify"></span>
					</a>
				</li>
			</ul>
			<ul class="sidebar-nav">
				<li>
					<a href="#">
						Home
						<span class="sidebar-icon fa fa-home"></span>
					</a>
				</li>
				<li>
					<a href="#">
						Remote
						<span class="sidebar-icon fa fa-th"></span>
					</a>
				</li>
				<li>
					<a href="#">
						Channels
						<span class="sidebar-icon fa fa-list-alt"></span>
					</a>
				</li>
				<li>
					<a href="#">
						Settings
						<span class="sidebar-icon fa fa-cog"></span>
					</a>
				</li>
			</ul>
		</div>
		<div class="page-content-wrapper">
			<div class="container-fluid">
				<div ng-controller="ChannelController" class="schedule-wrapper">
          <div class="schedule">
            <ul class="schedule-header">
              <li class="schedule-channelheader">Channel</li>
              <li ng-repeat="hour in showHours()" class="schedule-hour">{{ hour }}:00</li>
            </ul>
            <div class="">
              <div ng-repeat="channel in Channels" class="schedule-channel clearfix">
                <div class="schedule-channelname">{{ channel.name }}</div>
                <div class="schedule-shows">
                  <div ng-repeat="show in channel.shows | nowFilter" class="schedule-show" style="{{ getShowWidth(show) }}">
                    <div show></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.6.3/less.min.js"></script>
	<script>
		var app = angular.module('pimoteApp', []);

		app.controller('ChannelController', function($scope, $http){
			$http.get('/api/channel/').success(function(data){
				$scope.Channels = data.channels
            })

            $scope.showHours = function(){
                var d = new Date().getHours()
                return [d - 1 < 0 ? 23 : d - 1, d, d + 1 % 24, d + 2 % 24, d + 3 % 24]
            }


            $scope.getShowWidth = function(show){
                var start = new Date(show.startTime),
                    end = new Date(show.endTime),
                    viewportStart = new Date()
                    minutePx = 500 / 60,
                    width = ((end - start) / 1000 / 60) * minutePx,
                    offset = 0;

                if((viewportStart.getHours() - 1) > start.getHours()){
                  var clampedTime = viewportStart.setMinutes(0) - (viewportStart.getTime() - viewportStart.setSeconds(0)) - (1000 * 60 * 60)
                  offset = ((start - clampedTime) / 1000 / 60) * minutePx;
                }
                return 'width: ' + Math.min((Math.floor(width) + Math.floor(offset)), 2500) + 'px;';
            }
		}).directive('show', function(){
			return {
				template:'<div class="schedule-show-title text-ellipsis">{{ show.title }}</div><div class="text-ellipsis">{{ show.startTime | date: "HH:mm a" }} - {{ show.endTime | date: "HH:mm a" }}</div>'
			}
		}).filter('nowFilter', function(){
            return function(input){
                var filterList = []
                angular.forEach(input, function(show, i, shows){
                  if(new Date(show.startTime).getTime() >= (new Date().setMinutes(0)) - (1000 * 60 * 60) ||
                     new Date(show.endTime).getTime() >= (new Date().setMinutes(0)) - (1000 * 60 * 60)) {
                    filterList.push(show)
                  }
                })
                return filterList.sort(function(show1, show2){
                    return (new Date(show1.startTime)) > (new Date(show2.startTime))
                })
            }
        })

		app.controller('SidenavController', function($scope){
			$scope.toggleMenu = function(){
				$('.sidebar-wrapper').add('.wrapper').toggleClass('active')
			}
		})

	</script>
</body>
</html>
