<!doctype html>
<html lang="en" ng-app="pimoteApp">
<head>
	<meta charset="UTF-8">
	<title>PiMote</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet/less" type="text/css" href="static/styles/pimote.less" />
</head>
<body>
	<div class="wrapper active">
		<div class="sidebar-wrapper active" ng-controller="SidenavController">
			<ul class="sidebar-header">
				<li class="sidebar-brand">
					<a href="#" class="menu-toggle" ng-click="toggleMenu()">
						Menu
						<span id="header-icon" class="fa fa-align-justify"></span>
					</a>
				</li>
			</ul>
			<ul class="sidebar-nav">
				<li>
					<a href="#">
						Home
						<span class="sidebar-icon fa fa-home"></span>
					</a>
				</li>
				<li>
					<a href="#">
						Remote
						<span class="sidebar-icon fa fa-th"></span>
					</a>
				</li>
				<li>
					<a href="#">
						Channels
						<span class="sidebar-icon fa fa-list-alt"></span>
					</a>
				</li>
				<li>
					<a href="#">
						Settings
						<span class="sidebar-icon fa fa-cog"></span>
					</a>
				</li>
			</ul>
		</div>
		<div class="page-content-wrapper">
			<div class="container-fluid">
				<div ng-controller="ChannelController" class="schedule-wrapper">
          <div class="schedule">
            <ul class="schedule-header">
              <li class="schedule-channelheader">Channel</li>
              <li ng-repeat="hour in showHours()" class="schedule-hour">{{ hour }}:00</li>
            </ul>
            <div class="">
              <div ng-repeat="channel in Channels" class="schedule-channel clearfix">
                <div class="schedule-channelname">{{ channel.name }}</div>
                <div class="schedule-shows">
                  <div ng-repeat="show in channel.shows | nowFilter" class="schedule-show" style="{{ getShowWidth(show) }}">
                    <div show></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.6.3/less.min.js"></script>
	<script src="/static/js/pimote.js"></script>
</body>
</html>
